/.classpath
/.project
/project
/target
/bin
/.cache
/*.so
/*.dll
/.settings
/assets.jmp
/*.jmp
/private
/readme.md~
/.worksheet
/bin
/bin
/.scalastyle
/.cache-main
/.cache-tests
/analysis.MD~
/.tmpBin
/bin/
